<!-- CSS 樣式表 -->
<style>
    /* 訊息容器的樣式 */
    #messages {
        height: 400px;
        overflow-y: auto;
    }
    /* 訊息框的樣式 */
    .message {
        padding: 5px 10px;
        border-radius: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    /* 其他使用者的訊息框樣式 */
    .other-user {
        background-color: #90EE90;
        border: 1px solid #ddd;
        margin-bottom: 5px;
    }
    /* 當前使用者的訊息框樣式 */
    .current-user {
        background-color: #FFFFFF;
        text-align: right;
        border: 1px solid #ddd;
        margin-bottom: 5px;
    }
    /* 聊天輸入框的樣式 */
    .chat-input {
        display: flex;
        align-items: center;
    }
    .chat-input input {
        flex-grow: 1;
        margin-right: 10px;
    }
</style>

<!-- HTML 主體內容 -->
<html>
    <div class="container mt-4">
        <!-- 聊天室標題及訊息顯示區 -->
        <h3>Chat Room: {{ room }}</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-body" id="messageContainer">
                            <ul id="messages" class="list-group"></ul>
                        </div>
                        <div class="card-footer chat-input">
                            <input type="text" id="message" class="form-control" placeholder="Enter a message..." onkeydown="handleEnter(event)">
                            <button onclick="sendMessage()" class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-md-3">
                    {% include './vote.html' %}
                </div>
            </div>
            </div> 
        </div>
    </div>    
    
   

    

    <!-- 使用者名稱輸入模態框 -->
    <div class="modal" tabindex="-1" role="dialog" id="usernameModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">請輸入您的使用者名稱</h5>
                </div>
                <form method="post" action="/joinTextChat">
                <div class="modal-body">
                    <input type="text" id="username" class="form-control" placeholder="username">
                </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="joinChat()">加入聊天</button>
                </div>
                
            </div>
        </div>
    </div>



    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var username;
        var avtar_color;
        var room = "{{ room }}";
        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
        // Function to truncate a string to a specified length
        function truncateString(str, maxLength) {
            if (str.length > maxLength) {
                return str.slice(0, maxLength) + '...';
            }
            return str;
        }
        $(document).ready(function() {
            $('#usernameModal').modal({
                backdrop: 'static',
                keyboard: false
            });
        });
        
        function joinChat() {
            username = $('#username').val();
            $.ajax({
                type: "POST",
                url: "/joinTextChat",
                contentType: "application/json;charset=UTF-8",
                data: JSON.stringify({
                    username :username,
                    room : room
                }),
                success: function(response) {
                    avtar_color = getRandomColor();
                    // 隱藏模態框
                    $('#usernameModal').modal('hide');
                    document.cookie = "username=" + response.username + "; path=/";  // 这里的 path=/ 表示 Cookie 可以在整个站点中使用
                    document.cookie = "uid" + response.uid + "; path=/";  // 这里的 path=/ 表示 Cookie 可以在整个站点中使用
                    socket.emit('text_join', {'username': response.username, 'room': response.room});

                },
                error: function(error) {
                    alert('Please enter a username.');
                }
            });

        }
        

        socket.on('connect', function() {
            // 用户名将在 joinChat 函数中通过模态框获得
        });
        document.getElementById("username").addEventListener("keyup", function(event) {
            event.preventDefault();
            if (event.keyCode === 13) {
                joinChat();
            }
        });
        socket.on('message', function(data) {
            var messages = document.getElementById('messages');
            var isCurrentUser = data.user === username;
            var msgClass = isCurrentUser ? 'current-user' : 'other-user';

            // Create HTML for the avatar
            var avatarHtml = '<span style="height: 30px; width: 30px; background-color: ' + data.avtar_color + '; border-radius: 50%; display: inline-block;"></span><br><small>' + data.user + '</small><br>';

            // Create HTML for the message content
            var msgContentHtml = '';

            // Add the message text
            msgContentHtml += '<p>' + data.msg + '</p>';

            // Check if the message contains a link
            if (data.link) {
                msgContentHtml += '<a href="' + data.link + '" target="_blank" class="btn btn-link">';
            }

            // Check if the message contains an image
            if (data.link_image) {
                msgContentHtml += '<div class="row">'+
                                    '<div class="col-md-4 order-md-1 mb-2">'+
                                        '<img src="' + data.link_image + '" alt="Image" class="img-fluid">'+
                                    '</div>' +
                                    '<div class="col-md-8 order-md-2">';
            }

            // Check if the message contains a title
            if (data.link_title) {
                msgContentHtml += '<h4 class="mb-2" text-truncate>' + truncateString(data.link_title, 20) + '</h4>';
            }
            if (data.link_description) {
                msgContentHtml += '<p class="mb-2" text-truncate>' + truncateString(data.link_description, 60) + '</p>';
            }
            // Close the link tag if a link was present
            if (data.link) {
                msgContentHtml += '</div></div></a>';
            }
            console.log("j")
            // Create the final message HTML with Bootstrap classes
            var msgHtml = '<li class="list-group-item ' + msgClass + ' ">' + 
                            '<div class="ms-2 me-auto">' + avatarHtml + msgContentHtml + '</div>' +
                            '</li>';

            // Add the new message to the bottom of the list
            messages.innerHTML += msgHtml;

            scrollToBottom(); // Scroll to the bottom after adding the new message
        });


        function sendMessage(){
            var message = document.getElementById('message').value;
            socket.emit('message', {msg: message, user: username, room: room,avtar_color:avtar_color});
            document.getElementById('message').value = '';
        }

        function scrollToBottom() {
            var messageContainer = document.getElementById('messages');
            messageContainer.scrollTop = messageContainer.scrollHeight;
        }

        function handleEnter(event) {
            if (event.key === 'Enter') {
                event.preventDefault(); // Prevent default behavior of Enter key
                sendMessage(); // Call the sendMessage function when Enter is pressed
            }
        }
       
        
        
        window.onbeforeunload = function() {
            socket.emit('leave', {username: username, room: room});
        };
    </script>

    
</html>